<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', path='img/favicon.ico') }}" />
	<title>Иван i1si Сидорчук</title>
	<link rel="stylesheet" href="{{ url_for('static', path='css/styles.pure.css')}}">
	<style>
		@font-face {
			font-family: 'Consolas';
			src: url('{{ url_for("static", path="fonts/consolas.ttf") }}');
		}
	</style>
	<script src="{{ url_for('static', path='scripts/changeLang.js') }}"></script>
</head>

<body>
	<div class="container">
		<div class="text-end lang-switcher" onclick="changeLang()">
			<u id="lang">ENG</u>
		</div>
		<div class="row justify-content-md-center">
			<div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 col-xxl-2">
				<div class="row">
					<div class="col-4 col-sm-4 col-md-12">
						<div>
							<img src="{{ url_for('static', path='img/face_compressed.jpg') }}" alt="face" class="rounded face-img">
						</div>
					</div>
					<div class="col">
						<div>
							<h2 id="full-name">
								Иван Сидорчук
							</h2>
						</div>
						<h5>
							Python backend developer
						</h5>
						<div>
							telegram:
							<a target="_blank" href="https://t.me/itsvanos">@itsvanos</a>
						</div>
						<div>
							email:
							<a href="mailto:ivan_sidorchuk@icloud.com">ivan_sidorchuk@icloud.com</a>
						</div>
						<div>
							github:
							<a target="_blank" href="https://github.com/i1si">i1si</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-8 col-lg-7">
				<div>
					<h3 class="text-center stack">
						Стек
					</h3>
					<p>
						<i>
							Django, Flask, FastAPI, DRF, PostgreSQL, SQLAlchemy, Celery, Redis, Docker.
						</i>
					</p>
				</div>
				<div>
					<h3 class="text-center" id="about">
						Обо мне
					</h3>
					<div id="about-t">
						Активно ищу работу в качестве backend разработчика для получения и применения best practices.
					</div>
					<p id="about-p">
						Мне интересно использовать программирование для решения возникающих проблем и упрощения жизни. Так появились
						приложения, некоторые из которых стали отдельными pet-проектами.
					</p>
				</div>
				<div>
					<h3 class="text-center" id="pet">
						Pet-проекты
					</h3>
					<ul>
						<li>
							<div>
								<a href="https://gym.i1si.ru">gym.i1si.ru</a>
								<span id="pet-first">
									— приложение для отслеживания прогресса в тренажерном зале.
								</span>
							</div>
							<div>
								<span class="stack">
									Стек
								</span>
								: <i>Django, DRF, PostgreSQL, Docker.</i>
							</div>
						</li>
						<li>
							<div>
								<a href="https://proxy.i1si.ru">proxy.i1si.ru</a>
								<span id="pet-second">
									— приложение для получения бесплатного доступа к прокси серверам (VPN).
								</span>
							</div>
							<div>
								<span class="stack">
									Стек
								</span>
								: <i>Flask, SQLAlchemy, PostgreSQL, Vless.</i>
							</div>
						</li>
						<!-- <li>
							<div>
								<span id="pet-third">
								</span>
							</div>
							<div>
								<span class="stack">
									Стек
								</span>
							</div>
						</li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>

</html>